NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/ribil

REDIS_URL=redis://redis:6379

JWT_PRIVATE_KEY=replace_me
JWT_PUBLIC_KEY=replace_me

SENDGRID_API_KEY=replace_me

AWS_ACCESS_KEY=replace_me
AWS_SECRET_KEY=replace_me

GMAPS_KEY=replace_me

S3_BUCKET=replace_me

DIGILOCKER_CLIENT_ID=replace_me
DIGILOCKER_CLIENT_SECRET=replace_me